@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@nuxt/ui";

:root {
  --primary-color: #ee2740;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}

a {
  color: #3366FF;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}