@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@nuxt/ui";

:root {
  --primary-color: #ee2740;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}

a {
  color: #3366FF;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
}

@media screen and (max-width: 799px) {
  body {
    width: 95%;
    max-width: 960px;
    margin: 10px auto;
  }
}